{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 15px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="account">
    <h2>用户登录</h2>
    <form method="post" action="" novalidate>
        {% csrf_token %}

        <div class="form-group">
            <label>{{ formset.username.label }}</label>
            {{ formset.username }}
            <span style="color: red">{{ formset.username.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>{{ formset.password.label }}</label>
            {{ formset.password }}
            <span style="color: red">{{ formset.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="id_code">{{ formset.code_str.label }}</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ formset.code_str }}
                    <span style="color: red">{{ formset.code_str.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="img_code" src="/image/code/" style="width: 125px" alt=""/>
                </div>
            </div>
        </div>
        <input type="submit" value="登 录" class="btn btn-primary">
    </form>
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript">
    $('#img_code').click(function () {
        let src = '/image/code/?t=' + Math.random(); // 不开随机数，浏览器会缓存，图片不会更新
        $(this).attr('src', src);
    })
</script>
</body>
</html>