{% extends 'style.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalWarehouse">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建仓库
            </button>

            <div style="float: right;width: 300px">
                <form method="GET" action="">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="搜索仓库..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                仓库列表
            </div>

            <div class="panel-body">
                <p>地狱火扣1即送</p>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>仓库编号</th>
                    <th>仓库名称</th>
                    <th>仓库位置</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in data_list %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.location }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/warehouse/{{ obj.id }}/edit/">编辑</a>
                            <button nid="{{ obj.id }}" type="button" class="btn btn-danger btn-xs btn-delete">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!--页面跳转-->
    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="?q={{ search_data }}&page=1" aria-label="Previous">
                        <span aria-hidden="true">首页</span>
                    </a>
                </li>
                <!--
                后端生成HTML文档
                哈哈，前端的事后端做
                -->
                {{ page_string }}

                <li>
                    <form method="GET" action="" style="float: left;margin-left: 10px">
                        <div class="input-group" style="width: 120px">
                            <input type="text" name="page" class="form-control" placeholder="跳转" value="{{ page }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                            </button>
                        </span>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal fade" id="ModalWarehouse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">仓库</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">新建仓库</div>
                        <div class="panel-body">
                            <form id="WarehouseForm" novalidate>

                                <div class="clearfix">
                                    {% for form in formset_warehouse %}
                                        <div class="col-xs-6">
                                            <div class="form-group" style="position: relative;margin-top: 20px">
                                                <label>{{ form.label }}</label>
                                                {{ form }}
                                                <span class="error-msg" style="color: red;position: absolute"></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                    <button id="btnWarehouse" type="button" class="btn btn-primary">提 交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4 style="text-align: center">警告</h4>
                <p>删除后无法恢复，谨慎删除</p>
                <p style="margin-top: 10px;text-align: right">
                    <button id="btnDelete" type="button" class="btn btn-danger">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        let nid;
        $(function () {
            btnWarehouse();

            Get_nid();
            btnDelete();
        })

        function btnWarehouse() {
            $('#btnWarehouse').click(function () {
                $('.error-msg').empty();

                $.ajax({
                    url: '/warehouse/add/',
                    type: 'post',
                    data: $('#WarehouseForm').serialize(),
                    dataType: 'json',
                    success: function (res) {
                        if (res.status) {
                            alert('新的仓库已生成')
                            $('#PurchaseForm')[0].reset(); //$('#AddForm')是jQuery对象， $('#AddForm')[0]是DOM对象
                            $('#ModalPurchase').modal('hide');
                            location.reload(); // 刷新页面
                        } else {
                            $.each(res.errors, function (name, data) {
                                id = '#id_' + name
                                $('#WarehouseForm '+ id).next().text(data[0]);
                            })
                        }
                    }
                })
            })
        }

        function Get_nid() {
            $('.btn-delete').click(function () {
                $('#DeleteModal').modal('show');

                nid = $(this).attr('nid')
            })
        }

        function btnDelete() {
            $('#btnDelete').click(function () {

                $.ajax({
                    url: '/warehouse/delete/',
                    type: 'get',
                    data: {'nid': nid},
                    dataType: 'json',
                    success: function (res) {
                        if (res.status) {
                            alert('删除成功！');
                            location.reload();
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}